
* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%
}


.loginContainer {
	
	position: absolute;
	width: 	300px;
	height: 460px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}

#loginForm {

	padding:20px;
	
}

.center-links {

	display: flex;
	justify-content: space-between;
	
}

.center-links > a {

	
	padding-left: 0px;
	padding-right: 0px;
}

#loginForm > img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width:60%;
 	height:50%;
 	border:1px solid black;
 	border-radius: 100%;
 	margin-bottom: 10px;

}

#loginCard {

	box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.2);
}

#loginCard:hover {
	box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2);
  }

 
#loginForm input {
	border-radius: 0px;
  }
  
  
  /*Remove placeholder on focus*/
  input:focus::placeholder {
	color: transparent;
  }
  
  #loginForm  input:focus {
  
	/*border: 2px solid rgb(66, 40, 211);*/
	border: 2px solid black;
  }
  
  
  
  /*Remove default blue box on input on focus*/
  textarea:hover, 
  input:hover, 
  textarea:active, 
  input:active, 
  textarea:focus, 
  input:focus,
  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:active,
  .btn.active
  {
	  outline:0px !important;
	  -webkit-appearance:none;
	  box-shadow: none !important;
  }



  /* ---------------------- Register Page ---------------------------*/




.registerContainer {

	/*For easy view*/
	/*background-color:blue;
	border:1px solid black;*/

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
	width: 30px;


	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}



#registerForm {
	/*For easy view*/
	/*background-color:blue;
	border:1px solid black;*/
	
	border-radius: 10px;
	height: 100%;
	text-align: center;
}

.registerContainer img {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width:30%;
 	height:30%;
 	margin-bottom: 20px;
}


#registerForm input {
	border-radius: 0px;
 }

 #registerForm input:focus {
  
	/*border: 2px solid rgb(66, 40, 211);*/

	border: 1px solid black;
 }


/*

#registerForm h1 {
	text-align: center;
	background-color: black;
	color:white;
	border-radius: 5px;
	width:100%;
	height:8vh;
	
}

.formContents{
	border:1px solid black;
	
}


#registerForm input {
	border-radius: 0px;
}

#registerForm  input:focus {
	
	border: 2px solid rgb(66, 40, 211);

}*/


/* ---------------------- Profile Page ---------------------------*/


.profileContainer {

	background: lightgrey;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.profileContainer img {

	width: 20%;
	height: 20%;
	display:block;

}

.profileContainer h1 {

	display: block;
}

.hobbies{

	display: flex;
	justify-content: space-around;

}

.hobbies li {

	list-style: none;

}